@font-face {
    font-family: "Kaushan Script";
    src: url("./KaushanScript-Regular.ttf");
}

:root {
    /* --cyan: #8DD7DA; */
    /* --Peach: #FE9E62; */
    /* --Magenta: #E034FF; */
    --cyan: hsl(182, 51%, 90%);
    --Peach: hsl(23, 99%, 95%);
    --Magenta: hsl(291, 100%, 90%);
    --Red: #71220E;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Kaushan Script";
    color: var(--Red);
}

.R {
    display: flex;
}

.Col {
    flex-direction: column;
}

.C {
    justify-content: center;
    align-items: center;
}

body {
    gap: 50px;
    margin-bottom: 100px;
}

body>div {
    width: 100%;
    padding: 50px;
}

.header {
    background-image: url("./images/unsplash_0ZPSX_mQ3xI.png");
    background-size: cover;
}

.container {
    /* border: 2px solid red; */
    width: 85%;
    justify-content: space-between;
}

.huge {
    gap: 50px;
}

.huge span {
    font-size: 2rem;
}

.huge span:nth-of-type(2) {
    font-size: 6rem;
}

.header img {
    height: 600px;
    border-radius: 15px;
}

.header .social {
    justify-content: start;
    gap: 15px;
}

.header .social div {
    padding: 12px;
    transition: 0.3s;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.header .social div:hover {
    opacity: 0.8;
}

.header .linked {
    background-color: #0072b1;
}

.header .linked svg {
    fill: white;
}

.header .social .github {
    padding: 0px;
}

.header .social .facebook {
    background-color: #4267B2;
    padding-top: 9px;
}

.header .facebook svg {
    height: 35px;
    fill: white;
}

.header .instagram {
    background-color: #E1306C;
}

.header .instagram svg {
    fill: #FFDC80;
}

.header .twitter {
    background-color: black;
}

.header .twitter svg {
    fill: white;
}

.header div.pinterest {
    background-color: white;
    padding: 0px;
}

.body {
    background-color: hsl(0, 0%, 92%);
    background-image: url("./images/Frame\ 46.png");
}

.body .container {
    gap: 60px;
    font-size: 1.5rem;
}

.title {
    font-size: 3rem;
    font-weight: bold;
}

.content {
    width: 100%;
}

.ImageFull .content img {
    width: 100%;
}

.Points .content>div,
.Header-Points .content>div>div {
    margin-bottom: 60px;
    justify-content: space-between;
}

.Header-Points .content>div {
    margin-bottom: 40px;
    font-size: 1.8rem;
}

.Header-Points .content>div>div {
    padding-left: 50px;
    margin: 10px 0 0 0;
    font-size: 1.5rem;
}

.Block .content {
    gap: 60px;
}

.Block .content>div {
    border: 2px solid var(--Red);
    border-radius: 10px;
    padding: 20px;
    display: grid;
    grid-template: 1fr / 100px 1fr;
    width: 100%;
}

.Block .content .logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid var(--Red);
    overflow: hidden;
    padding: 7px;
    background-size: cover;
}

.Block .content .data {
    gap: 20px;
}

.Block .content .data .topic {
    justify-content: space-between;
    gap: 50px;
    font-weight: bold;
}

.Block .content .data .text {
    opacity: 0.7;
    padding-left: 7px;
}

.Range-Title .content,
.Range .content {
    display: grid;
    width: 100%;
    grid-template: 1fr / max-content 1fr;
    gap: 50px;
}

.Range-Title .content .sub {
    margin-top: 30px;
    grid-column: span 2;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: underline;
}

.Range-Title .content .range,
.Range .content .range {
    width: 90%;
    height: 25px;
    justify-self: center;
    border-radius: 15px;
    position: relative;
    border: 1px solid var(--Red);
}

.Range-Title .content .range::before,
.Range .content .range::before {
    content: "Beginner";
    position: absolute;
    top: -30px;
    opacity: 0.5;
}

.Range-Title .content .range::after,
.Range .content .range::after {
    content: "Expert";
    position: absolute;
    top: -30px;
    right: 0px;
    opacity: 0.5;
}

.Range-Title .content .range div,
.Range .content .range div {
    height: 100%;
    border-radius: 15px;
    background-color: violet;
}

.Rect-Image .content,
.Rect-Detail .content,
.Rect-Image-s .content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 410px;
    gap: 89px;
}

.Rect-Detail .content {
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.Rect-Image-s .content {
    grid-auto-rows: 216px;
}

.Rect-Image .content img,
.Rect-Detail .content img,
.Rect-Image-s .content img {
    width: 100%;
    height: 100%;
    transition: 0.4s;
    border: 2px solid var(--Red);
    border-radius: 15px;
}

.Rect-Image .content img.active,
.Rect-Image-s .content img.active {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 820px;
}

.Rect-Image-s .content img.active {
    width: 900px;
    height: 648px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: rgb(0, 0, 0, 0.98);
    display: none;
}

.overlay.active {
    display: block;
}

.window {
    border-radius: 15px;
    background-color: white;
    width: 800px;
    gap: 50px;
    justify-content: space-between;
    padding: 30px;
    margin: 50px;
}

.border {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    background-color: #0072b1;
    background-image: url("./images/Frame\ 46.png");
}

.window .link {
    font-size: 1.5rem;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.window .link:hover {
    transform: scale(1.08);
    opacity: 0.7;
}

.window .text {
    font-size: 1.2rem;
}

.window .time {
    font-size: 1.7rem;
}


@media screen and (max-width : 1400px) {

    .huge span,
    .title {
        font-size: 1.5rem;
    }

    .huge span:nth-of-type(2) {
        font-size: 4rem;
    }

    .content {
        font-size: 1.3rem;
    }

    .Range-Title .content .sub,
    .Header-Points .content>div {
        font-size: 1.5rem;
    }

    .Header-Points .content>div>div {
        font-size: 1.2rem;
    }

    .Range-Title .content .skill,
    .Range .content .skill {
        font-weight: 100;
    }

    .Rect-Image .content,
    .Rect-Detail .content,
    .Rect-Image-s .content {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 328px;
        gap: 30px;
    }

    .Rect-Detail .content {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 270px;
        gap: 30px;
    }

    .Rect-Image-s .content {
        grid-auto-rows: 200px;
    }


}

@media screen and (max-width : 1200px) {

    .huge span,
    .title {
        font-size: 2rem;
    }

    .huge span:nth-of-type(2) {
        font-size: 4rem;
    }

    .content {
        font-size: 1.3rem;
    }

    .Range-Title .content .sub,
    .Header-Points .content>div {
        font-size: 1.5rem;
    }

    .Header-Points .content>div>div {
        font-size: 1.2rem;
    }

    .Rect-Image .content,
    .Rect-Detail .content,
    .Rect-Image-s .content {
        grid-template-columns: repeat(3, 1fr);
    }

    .Rect-Detail .content {
        grid-template-columns: repeat(2, 1fr);
    }

}